
<div class="title">
  <h1>Tempo <i>app</i></h1>
</div>
<div class="container">
  <div class="search-box">
    <div class="search">
      <form #form="ngForm" class="form">
        <input type="text" placeholder="Buscar cidade" name="busca" [(ngModel)]="busca"/>
        <button type="submit" (click)="pesquisarCidade()">
          <i class="material-icons icone-buscar">search</i>
        </button>
      </form>
    </div>
  </div>
  <div class="msg" *ngIf="mensagem">
    <p>Não foi possível localizar a cidade.</p>
    <button (click)="erro()" >
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="loading" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <div *ngIf="!loading">
    <div class="content-div">
      <div class="temp-date-div">
        <div class="temp-div">
          <p class="cidade-e-regiao">{{tempo.city}}, {{tempo.region}}</p>
          <p class="temperatura">{{tempo.temp}}º</p>
          <p class="temp-min-max"><b>{{tempo.max}}º</b> / {{tempo.min}}º</p>
          <p class="data">{{tempo.date}}</p>
        </div>
      </div>
      <div class="temp-icon-div">
      </div> 
    </div>
    <div class="forecasts">
      <div class="forecast" *ngFor="let f of tempo.forecast">
        <div class="dia-e-icone">
          <p class="dia-semana">{{f.weekday}}</p>
          <img src="https://openweathermap.org/img/wn/{{f.icon}}.png" />
        </div>
        <div class="info">
          <mat-divider style="background-color: var(--grey-border);"></mat-divider>
          <p class="data" style="margin-top: .5rem">{{f.date}}</p>
          <div class="max-min">
            <p>max</p>
            <p>{{f.max}}º</p>
          </div>
          <div class="max-min">
            <p>min</p>
            <p>{{f.min}}º</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <a href="https://github.com/gabrielgua" target="_blank" class="link">@gabrielgua</a>
    <span class="link">|</span>
    <a href="https://github.com/gabrielgua/root" target="_blank" class="link">Git do projeto</a>
  </div>
</div>
<router-outlet></router-outlet>